---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=<OPENWEATHER_API_KEY>&units=imperial&zip=32004,us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-81.3856,"lat":30.2397},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"base":"stations","main":{"temp":83.68,"feels_like":85.57,"temp_min":82,"temp_max":87.1,"pressure":1018,"humidity":54,"sea_level":1018,"grnd_level":1017},"visibility":10000,"wind":{"speed":12.66,"deg":120},"clouds":{"all":0},"dt":1746211078,"sys":{"type":2,"id":2034820,"country":"US","sunrise":1746182469,"sunset":1746230620},"timezone":-14400,"id":0,"name":"Ponte
        Vedra Beach","cod":200}'
  recorded_at: Fri, 02 May 2025 18:41:51 GMT
recorded_with: VCR 6.3.1
